.shop{
    
    padding:50px 100px ;
    height: 20%;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(340px, 1fr));
    background-color: #fafafa;
    
    gap:50px 30px;
    justify-content: center;
    justify-items: center;
}
