.app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}
.totalItems{
    position: absolute;
    right:10%;
    top:4%;
    border-radius: 50%;
    text-align: center;
    height: 16px;
    width: 16px;
    font-size:0.9rem;
    border: 50%;
    background-color: white;
    border:1px solid black;
}