.nav-bar{
    display: flex;
    height: 30px;
    
    background-color: aliceblue;
    padding:20px 80px 20px 170px;
    justify-content: space-between;
    align-items: center;
}

.nav-bar h2{
    font-size:2rem;
    font-weight: 900;
}
.nav-list{
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    font-weight: 900;
    font-size:1.3rem;
    position: relative;
}
.cart-btn{

    background: transparent;
    border:2px solid black;
    padding:5px;
    border-radius: 50%;


}
.cart-btn img{
    height: 18px;
    width: 18px;
    background-color: white;
}
.totalItems {
    position: relative;
    right: 25%;
    top: 10px;
    border-radius: 50%;
    text-align: center;
    height: 15px;
    width: 15px;
    font-size: 0.9rem;
    border: 50%;
    background-color: white;
    border: 1px solid black;
}